@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.heading-font {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

img {
  max-width : 100%;
  height: auto;
}

:root{

  --bg-page: #F7F6F0;
  --bg-card: #3b4d61;
  --bg-dark: #00334e;
  --heading-light: #fff;
  --heading-dark: #2c2c2c;
  --para-light: #E8E8E8;
  --para-dark: #374151;
  --bg-gradient-dark: linear-gradient(to right, #EA580C, #F97316); 
  --bg-gradient-invert: linear-gradient(to left, #EA580C, #F97316); 

}

/* Animation in About Us Page - Circular Progress Bar */
@keyframes appear {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

.progress-animation {
  animation: appear 1s linear forwards;
  /* animation-timeline: view(); */
  /* animation-range: entry 0; */
}